/*
OpenPay API

super charge your subscription management.

API version: 1.2.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package getopenpay

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// BillingMeterEventAdjustmentsAPIService BillingMeterEventAdjustmentsAPI service
type BillingMeterEventAdjustmentsAPIService service

type ApiCreateBillingMeterEventAdjustmentsRequest struct {
	ctx context.Context
	ApiService *BillingMeterEventAdjustmentsAPIService
	createBillingMeterEventAdjustmentRequest *CreateBillingMeterEventAdjustmentRequest
}

func (r ApiCreateBillingMeterEventAdjustmentsRequest) CreateBillingMeterEventAdjustmentRequest(createBillingMeterEventAdjustmentRequest CreateBillingMeterEventAdjustmentRequest) ApiCreateBillingMeterEventAdjustmentsRequest {
	r.createBillingMeterEventAdjustmentRequest = &createBillingMeterEventAdjustmentRequest
	return r
}

func (r ApiCreateBillingMeterEventAdjustmentsRequest) Execute() (*BillingMeterEventAdjustmentExternal, *http.Response, error) {
	return r.ApiService.CreateBillingMeterEventAdjustmentsExecute(r)
}

/*
CreateBillingMeterEventAdjustments Create Billing Meter Event Adjustments

Creates a billing meter event adjustment to cancel a previously sent billing meter event.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateBillingMeterEventAdjustmentsRequest
*/
func (a *BillingMeterEventAdjustmentsAPIService) CreateBillingMeterEventAdjustments(ctx context.Context) ApiCreateBillingMeterEventAdjustmentsRequest {
	return ApiCreateBillingMeterEventAdjustmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BillingMeterEventAdjustmentExternal
func (a *BillingMeterEventAdjustmentsAPIService) CreateBillingMeterEventAdjustmentsExecute(r ApiCreateBillingMeterEventAdjustmentsRequest) (*BillingMeterEventAdjustmentExternal, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BillingMeterEventAdjustmentExternal
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillingMeterEventAdjustmentsAPIService.CreateBillingMeterEventAdjustments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/billing/meter-event-adjustments/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createBillingMeterEventAdjustmentRequest == nil {
		return localVarReturnValue, nil, reportError("createBillingMeterEventAdjustmentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createBillingMeterEventAdjustmentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
