openapi: 3.1.0
info:
  description: super charge your subscription management.
  title: OpenPay API
  version: 1.2.1
servers:
- description: OpenPay API server
  url: https://connto.getopenpay.com
- description: OpenPay staging API server
  url: https://connto.openpaystaging.com
paths:
  /billing/meter-event-adjustments/:
    post:
      description: Creates a billing meter event adjustment to cancel a previously
        sent billing meter event.
      operationId: create_billing_meter_event_adjustments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingMeterEventAdjustmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMeterEventAdjustmentExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Billing Meter Event Adjustments
      tags:
      - billing_meter_event_adjustments
  /billing/meter-events/:
    post:
      description: |-
        A billing meter event represents a customer’s usage of a product. Meter events are used to
        bill a customer based on their usage. Meter events are associated with billing meters,
        which define the shape of the event’s payload and how those events are aggregated for billing.
        Every event is identified by an unique identifier, same identifier can not be used again.
      operationId: create_billing_meter_event
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingMeterEventRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMeterEventExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Billing Meter Event
      tags:
      - billing_meter_events
  /billing/meter-events/list:
    post:
      description: |-
        A billing meter event summary represents an aggregated view of a customer’s billing meter
        events within a specified timeframe. It indicates how much usage was accrued by
        a customer for that period.
      operationId: list_billing_meter_event_summaries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListBillingMeterEventSummariesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_BillingMeterSummary_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Billing Meter Event Summaries
      tags:
      - billing_meter_events
  /billing/meters/:
    post:
      description: |-
        Creates a billing meter.
        A billing meter is a resource that allows you to track usage of a particular event.
         For example, you might create a billing meter to track the number of API calls made by
         a particular user.
        You can then attach the billing meter to a price and attach the price to a subscription
          to charge the user for the number of API calls they make.
      operationId: create_billing_meter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingMeterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMeterExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Billing Meter
      tags:
      - billing_meters
  /billing/meters/list:
    post:
      description: Retrieve a list of billing meters.
      operationId: list_billing_meters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingMeterQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_BillingMeterExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Billing Meters
      tags:
      - billing_meters
  /billing/meters/{meter_id}:
    get:
      description: Retrieves a billing meter given an ID.
      operationId: get_billing_meter
      parameters:
      - explode: false
        in: path
        name: meter_id
        required: true
        schema:
          title: Meter Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMeterExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Billing Meter
      tags:
      - billing_meters
  /billing/meters/{meter_id}/deactivate:
    post:
      description: Deactivates a billing meter.
      operationId: deactivate_billing_meter
      parameters:
      - explode: false
        in: path
        name: meter_id
        required: true
        schema:
          title: Meter Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMeterExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Deactivate Billing Meter
      tags:
      - billing_meters
  /billing/meters/{meter_id}/reactivate:
    post:
      description: Reactivates a billing meter.
      operationId: reactivate_billing_meter
      parameters:
      - explode: false
        in: path
        name: meter_id
        required: true
        schema:
          title: Meter Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMeterExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Reactivate Billing Meter
      tags:
      - billing_meters
  /billing_portal/sessions:
    post:
      operationId: create_portal_session
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePortalSessionRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalSessionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Portal Session
      tags:
      - billing_portal
  /charges/list:
    post:
      operationId: list_charges
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ChargeExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Charges
      tags:
      - charges
  /charges/{charge_id}:
    get:
      operationId: get_charge
      parameters:
      - explode: false
        in: path
        name: charge_id
        required: true
        schema:
          title: Charge Id
          type: string
        style: simple
      - description: "Fields to expand in the response. Supported values: 'payment_method',\
          \ 'subscriptions'"
        explode: true
        in: query
        name: expand
        required: false
        schema:
          description: "Fields to expand in the response. Supported values: 'payment_method',\
            \ 'subscriptions'"
          items:
            nullable: true
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Charge
      tags:
      - charges
    put:
      operationId: update_charge
      parameters:
      - explode: false
        in: path
        name: charge_id
        required: true
        schema:
          title: Charge Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChargeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Charge
      tags:
      - charges
  /checkout/checkout_attempts/validate/{checkout_attempt_id}:
    get:
      operationId: validate_checkout_attempt
      parameters:
      - description: The checkout attempt ID
        example: catt_dev_abc123
        explode: false
        in: path
        name: checkout_attempt_id
        required: true
        schema:
          description: The checkout attempt ID
          title: Checkout Attempt Id
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSuccessResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Validate Checkout Attempt
      tags:
      - checkout
  /checkout/list:
    post:
      operationId: list_checkout_sessions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CheckoutSessionExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Checkout Sessions
      tags:
      - checkout
  /checkout/sessions:
    post:
      operationId: create_checkout_session
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutSessionRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Checkout Session
      tags:
      - checkout
  /checkout/sessions/{checkout_secure_token}/verify_payment_method/{payment_method_id}:
    get:
      description: Verify that a checkout session and payment method belong to the
        same customer.
      operationId: verify_checkout_session_payment_method
      parameters:
      - description: The checkout session's secure token
        example: 00000000-aaaa-bbbb-cccc-dddddddddddd
        explode: false
        in: path
        name: checkout_secure_token
        required: true
        schema:
          description: The checkout session's secure token
          title: Checkout Secure Token
          type: string
        style: simple
      - description: The payment method ID to verify
        example: cc_dev_abc123
        explode: false
        in: path
        name: payment_method_id
        required: true
        schema:
          description: The payment method ID to verify
          title: Payment Method Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Verify Checkout Session Payment Method
      tags:
      - checkout
  /checkout/sessions/{session_id}:
    get:
      operationId: get_checkout_session
      parameters:
      - description: Unique identifier of the checkout session.
        example: cs_dev_abc123
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          description: Unique identifier of the checkout session.
          title: Session Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Checkout Session
      tags:
      - checkout
  /coupons/:
    post:
      operationId: create_coupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCouponRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Coupon
      tags:
      - coupons
  /coupons/list:
    post:
      operationId: list_coupons
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CouponExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Coupons
      tags:
      - coupons
  /coupons/{coupon_id}:
    delete:
      operationId: delete_coupon
      parameters:
      - description: Unique identifier of the Coupon.
        example: coupon_dev_abc123
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          description: Unique identifier of the Coupon.
          title: Coupon Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Coupon
      tags:
      - coupons
    get:
      operationId: get_coupon
      parameters:
      - description: Unique identifier of the Coupon.
        example: coupon_dev_abc123
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          description: Unique identifier of the Coupon.
          title: Coupon Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Coupon
      tags:
      - coupons
    put:
      operationId: update_coupon
      parameters:
      - description: Unique identifier of the Coupon.
        example: coupon_dev_abc123
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          description: Unique identifier of the Coupon.
          title: Coupon Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCouponRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Coupon
      tags:
      - coupons
  /credit-notes/:
    post:
      description: |-
        Issue a credit note to adjust the amount of a finalized invoice.
        You may issue multiple credit notes for an invoice.
        The sum of all credit notes issued for an invoice can’t exceed the
         total amount of the invoice.
        For a paid invoice, the sum of the refund and credit must equal the invoice total.
        Each credit note will increment the invoice’s pre_payment_credit_notes_amount_atom
         or post_payment_credit_notes_amount_atom depending on its status at the time
         of credit note creation.
      operationId: create_credit_note
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreditNoteRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Credit Note
      tags:
      - credit-notes
  /credit-notes/list:
    post:
      operationId: list_credit_notes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CreditNoteExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Credit Notes
      tags:
      - credit-notes
  /credit-notes/{credit_note_id}:
    get:
      operationId: get_credit_note
      parameters:
      - description: Unique Identifier of the credit_note.
        example: credit_note_dev_abc123
        explode: false
        in: path
        name: credit_note_id
        required: true
        schema:
          description: Unique Identifier of the credit_note.
          title: Credit Note Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Credit Note
      tags:
      - credit-notes
  /customers/:
    post:
      operationId: create_customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Customer
      tags:
      - customers
  /customers/list:
    post:
      operationId: list_customers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CustomerExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Customers
      tags:
      - customers
  /customers/{customer_external_id}:
    put:
      operationId: update_customer
      parameters:
      - explode: false
        in: path
        name: customer_external_id
        required: true
        schema:
          title: Customer External Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Customer
      tags:
      - customers
  /customers/{customer_id}:
    get:
      operationId: get_customer
      parameters:
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          title: Customer Id
          type: string
        style: simple
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            nullable: true
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Customer
      tags:
      - customers
  /customers/{customer_id}/balance-transactions:
    get:
      operationId: get_customer_balance_transactions
      parameters:
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          title: Customer Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomerBalanceTransactionExternal'
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Customer Balance Transactions
      tags:
      - customers
    post:
      description: |-
        Each customer has a Balance value, which denotes a debit or credit that's
        automatically applied to their next invoice upon finalization.
        Creates an immutable transaction that updates the customer's credit balance.
      operationId: create_customer_balance_transaction
      parameters:
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          title: Customer Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerBalanceTransactionRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerBalanceTransactionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Customer Balance Transaction
      tags:
      - customers
  /customers/{customer_id}/balance-transactions/{transaction_id}:
    get:
      operationId: get_customer_balance_transaction
      parameters:
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          title: Customer Id
          type: string
        style: simple
      - explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          title: Transaction Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerBalanceTransactionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Customer Balance Transaction
      tags:
      - customers
  /customers/{customer_id}/discount:
    delete:
      operationId: delete_customer_discount
      parameters:
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          title: Customer Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Customer Discount
      tags:
      - customers
  /customers/{customer_id}/list_valid_subscriptions:
    post:
      description: |-
        Lists valid subscriptions for given product_id or price_id. All 'active' or 'trialing'
        subscriptions are considered to be valid.
      operationId: list_valid_subscriptions
      parameters:
      - description: Unique Identifier of the customer.
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          description: Unique Identifier of the customer.
          title: Customer Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListActiveSubParams'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveSubResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Valid Subscriptions
      tags:
      - customers
  /customers/{customer_id}/payment-methods:
    post:
      description: |-
        Retrieves payment methods for a given customer.
        Can optionally filter by payment provider type.
      operationId: list_customer_payment_methods
      parameters:
      - description: Unique Identifier of the customer.
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          description: Unique Identifier of the customer.
          title: Customer Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPaymentMethodQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_Union_TokenizedCreditCardExternal__PaymentMethodExternal__'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Customer Payment Methods
      tags:
      - customers
  /dispute/:
    post:
      operationId: create_dispute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDisputeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Dispute
      tags:
      - disputes
  /dispute/{dispute_id}:
    get:
      operationId: get_dispute
      parameters:
      - explode: false
        in: path
        name: dispute_id
        required: true
        schema:
          title: Dispute Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Dispute
      tags:
      - disputes
  /events/list:
    post:
      operationId: list_events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventsQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_EventExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Events
      tags:
      - events
  /events/search:
    post:
      operationId: search_events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSearchParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_EventExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Search Events
      tags:
      - events
  /events/trigger-webhook:
    post:
      operationId: trigger_event_callback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventRetriggerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventRetriggerResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Trigger Event Callback
      tags:
      - events
  /events/{event_id}:
    get:
      operationId: get_event
      parameters:
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          title: Event Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Event
      tags:
      - events
  /integrations/tax/:
    post:
      operationId: create_tax_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaxIntegrationRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxIntegrationExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Tax Integration
      tags:
      - tax_integrations
  /invoice-items/list:
    post:
      operationId: list_invoice_items
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceItemsQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_InvoiceItemExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Invoice Items
      tags:
      - invoice-items
  /invoice-items/{invoice_item_id}:
    delete:
      operationId: delete_invoice_item_by_id
      parameters:
      - description: Unique identifier of the invoice_item.
        example: invoiceitem_dev_abc123
        explode: false
        in: path
        name: invoice_item_id
        required: true
        schema:
          description: Unique identifier of the invoice_item.
          title: Invoice Item Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteInvoiceItemResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Invoice Item By Id
      tags:
      - invoice-items
    get:
      operationId: get_invoice_item
      parameters:
      - description: Unique identifier of the invoice_item.
        example: invoiceitem_dev_abc123
        explode: false
        in: path
        name: invoice_item_id
        required: true
        schema:
          description: Unique identifier of the invoice_item.
          title: Invoice Item Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceItemExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Invoice Item
      tags:
      - invoice-items
  /invoices/:
    post:
      description: |-
        This endpoint creates a draft invoice for a given subscription.
        The invoice remains a draft until you finalize the invoice.
        The created invoice will only include floating invoice items for a subscription.
        The subscription’s billing cycle and regular subscription events won’t be affected.
      operationId: create_invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Invoice
      tags:
      - invoices
  /invoices/list:
    post:
      operationId: list_invoices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_InvoiceExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Invoices
      tags:
      - invoices
  /invoices/preview_next_invoice/{subscription_id}:
    get:
      operationId: preview_next_invoice
      parameters:
      - explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          title: Subscription Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Preview Next Invoice
      tags:
      - invoices
  /invoices/public/{public_permanent_token}:
    get:
      operationId: get_invoice_public
      parameters:
      - description: Public token for the invoice.
        example: 00000000-aaaa-bbbb-cccc-dddddddddddd
        explode: false
        in: path
        name: public_permanent_token
        required: true
        schema:
          description: Public token for the invoice.
          title: Public Permanent Token
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePublic'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Invoice Public
      tags:
      - invoices
  /invoices/{invoice_external_id}:
    get:
      operationId: get_invoice
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Invoice
      tags:
      - invoices
  /invoices/{invoice_external_id}/comment:
    post:
      operationId: add_comment
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCommentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Add Comment
      tags:
      - invoices
  /invoices/{invoice_external_id}/finalize:
    post:
      operationId: finalize_invoice
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Finalize Invoice
      tags:
      - invoices
  /invoices/{invoice_external_id}/mark_uncollectible:
    post:
      operationId: mark_invoice_as_uncollectible
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkUncollectibleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Mark Invoice As Uncollectible
      tags:
      - invoices
  /invoices/{invoice_external_id}/pay:
    post:
      operationId: pay_invoice
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayInvoiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Pay Invoice
      tags:
      - invoices
  /invoices/{invoice_external_id}/void:
    post:
      operationId: mark_invoice_as_void
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkVoidRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Mark Invoice As Void
      tags:
      - invoices
  /invoices/{invoice_id}:
    put:
      operationId: update_invoice
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Invoice
      tags:
      - invoices
  /payment-intents/list:
    post:
      operationId: list_payment_intents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentIntentQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PaymentIntentExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Payment Intents
      tags:
      - payment-intents
  /payment-intents/{payment_intent_id}:
    get:
      operationId: get_payment_intent
      parameters:
      - explode: false
        in: path
        name: payment_intent_id
        required: true
        schema:
          title: Payment Intent Id
          type: string
        style: simple
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Payment Intent
      tags:
      - payment-intents
    put:
      operationId: update_payment_intent
      parameters:
      - explode: false
        in: path
        name: payment_intent_id
        required: true
        schema:
          title: Payment Intent Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentIntent'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Payment Intent
      tags:
      - payment-intents
  /payment-link/:
    post:
      operationId: create_payment_link
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Payment Link
      tags:
      - payment_links
  /payment-link/list:
    post:
      operationId: list_payment_links
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLinkQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PaymentLinkExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Payment Links
      tags:
      - payment_links
  /payment-link/public/{secure_token}:
    get:
      operationId: open_payment_link_page_public
      parameters:
      - description: Secure token of the payment link.
        example: 00000000-aaaa-bbbb-cccc-dddddddddddd
        explode: false
        in: path
        name: secure_token
        required: true
        schema:
          description: Secure token of the payment link.
          title: Secure Token
          type: string
        style: simple
      - description: Optional reference ID for the payment link
        example: ORDER-12345
        explode: true
        in: query
        name: ref_id
        required: false
        schema:
          description: Optional reference ID for the payment link
          title: Ref Id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Open Payment Link Page Public
      tags:
      - payment_links
  /payment-link/{plink_id}:
    get:
      operationId: get_payment_link
      parameters:
      - description: Unique identifier of the payment link.
        example: plink_dev_abc123
        explode: false
        in: path
        name: plink_id
        required: true
        schema:
          description: Unique identifier of the payment link.
          title: Plink Id
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Payment Link
      tags:
      - payment_links
  /payment-methods/authorize:
    post:
      operationId: authorize_payment_method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePaymentMethodRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Authorize Payment Method
      tags:
      - payment-methods
  /payment-methods/{payment_method_id}:
    get:
      operationId: get_payment_method
      parameters:
      - description: Unique Identifier of the payment_method.
        example: pm_dev_abc123
        explode: false
        in: path
        name: payment_method_id
        required: true
        schema:
          description: Unique Identifier of the payment_method.
          title: Payment Method Id
          type: string
        style: simple
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Get_Payment_Method_Payment_Methods__Payment_Method_Id__Get'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Payment Method
      tags:
      - payment-methods
  /payment-methods/{payment_method_id}/attach:
    post:
      description: |-
        Attaches the payment_method to a customer.
        A Payment_method must be attached to a customer before it can be used for payment.
        Once attached to a customer, it can not be reattached to a different customer.
      operationId: attach_payment_method
      parameters:
      - description: Unique Identifier of the payment_method.
        example: pm_dev_abc123
        explode: false
        in: path
        name: payment_method_id
        required: true
        schema:
          description: Unique Identifier of the payment_method.
          title: Payment Method Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachPaymentMethodRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Attach Payment Method
      tags:
      - payment-methods
  /payment-methods/{payment_method_id}/detach:
    post:
      description: |-
        Detaches a payment method from a customer.

        A detached payment method can no longer be used for payment,
        nor can it be reattached to the same or a different customer.

        A payment method cannot be detached if it is the default payment
        method for at least one customer, invoice, or active subscription.
      operationId: detach_payment_method
      parameters:
      - description: Unique Identifier of the payment_method.
        example: pm_dev_abc123
        explode: false
        in: path
        name: payment_method_id
        required: true
        schema:
          description: Unique Identifier of the payment_method.
          title: Payment Method Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Detach Payment Method
      tags:
      - payment-methods
  /payment-routes/:
    post:
      operationId: create_payment_route
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRouteRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRouteExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Payment Route
      tags:
      - payment-routes
  /payment-routes/list:
    post:
      description: List all payment routes for the authenticated user.
      operationId: list_payment_routes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PaymentRouteExternal_'
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: List Payment Routes
      tags:
      - payment-routes
  /payment-routes/{payment_route_id}:
    delete:
      description: |-
        Deletes a payment route.
        This can only be done if the payment route has never been used.
        Otherwise, please use deactivate the payment route instead.
      operationId: delete_payment_route
      parameters:
      - description: The payment route ID
        explode: false
        in: path
        name: payment_route_id
        required: true
        schema:
          description: The payment route ID
          title: Payment Route Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePaymentRouteResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Payment Route
      tags:
      - payment-routes
    get:
      operationId: get_payment_route
      parameters:
      - description: The payment route ID
        explode: false
        in: path
        name: payment_route_id
        required: true
        schema:
          description: The payment route ID
          title: Payment Route Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRouteExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Payment Route
      tags:
      - payment-routes
  /prices/:
    post:
      operationId: create_price_for_product
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePriceRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Price For Product
      tags:
      - prices
  /prices/list:
    post:
      operationId: list_prices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PriceExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Prices
      tags:
      - prices
  /prices/{price_id}:
    delete:
      operationId: delete_price_for_product
      parameters:
      - description: Unique identifier of the price.
        example: price_dev_abc123
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          description: Unique identifier of the price.
          title: Price Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePriceResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Price For Product
      tags:
      - prices
    get:
      operationId: get_price_for_product
      parameters:
      - description: Unique identifier of the price.
        example: price_dev_abc123
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          description: Unique identifier of the price.
          title: Price Id
          type: string
        style: simple
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Price For Product
      tags:
      - prices
    put:
      operationId: update_price_for_product
      parameters:
      - description: Unique identifier of the price.
        example: price_dev_abc123
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          description: Unique identifier of the price.
          title: Price Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePriceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Price For Product
      tags:
      - prices
  /prices/{price_id}/add-ons:
    get:
      description: Returns list of prices which can only be purchased with the given
        price.
      operationId: get_price_add_ons
      parameters:
      - description: Unique identifier of the price.
        example: price_dev_abc123
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          description: Unique identifier of the price.
          title: Price Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PriceExternal'
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Price Add Ons
      tags:
      - prices
  /product-family/:
    post:
      operationId: create_product_family
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductFamilyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Product Family
      tags:
      - product-family
  /product-family/list:
    post:
      operationId: list_product_families
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductFamilyQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ProductFamilyExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Product Families
      tags:
      - product-family
  /product-family/{id}:
    delete:
      operationId: delete_product_family
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Product Family
      tags:
      - product-family
    get:
      operationId: get_product_family
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Product Family
      tags:
      - product-family
    put:
      operationId: update_product_family
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductFamilyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Product Family
      tags:
      - product-family
  /products/:
    post:
      operationId: create_product
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Product
      tags:
      - products
  /products/list:
    post:
      operationId: list_products
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ProductExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Products
      tags:
      - products
  /products/{product_id}:
    delete:
      operationId: delete_product
      parameters:
      - description: Unique identifier of the product.
        example: product_dev_abc123
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          description: Unique identifier of the product.
          title: Product Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProductResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Product
      tags:
      - products
    get:
      operationId: get_product
      parameters:
      - description: Unique identifier of the product.
        example: product_dev_abc123
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          description: Unique identifier of the product.
          title: Product Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Product
      tags:
      - products
    put:
      operationId: update_product
      parameters:
      - description: Unique identifier of the product.
        example: product_dev_abc123
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          description: Unique identifier of the product.
          title: Product Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Product
      tags:
      - products
  /promotion-codes/:
    post:
      operationId: create_promo_code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromoCodeRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionCodeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Promo Code
      tags:
      - promotion-codes
  /promotion-codes/code/{promo_code}:
    get:
      operationId: get_promo_code_by_code
      parameters:
      - description: Unique PromotionCode code.
        explode: false
        in: path
        name: promo_code
        required: true
        schema:
          description: Unique PromotionCode code.
          title: Promo Code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionCodeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Promo Code By Code
      tags:
      - promotion-codes
  /promotion-codes/list:
    post:
      operationId: list_promo_codes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCodeQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PromotionCodeExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Promo Codes
      tags:
      - promotion-codes
  /promotion-codes/{promo_code_id}:
    get:
      operationId: get_promo_code
      parameters:
      - description: Unique identifier of the PromotionCode.
        example: promo_dev_abc123
        explode: false
        in: path
        name: promo_code_id
        required: true
        schema:
          description: Unique identifier of the PromotionCode.
          title: Promo Code Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionCodeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Promo Code
      tags:
      - promotion-codes
    put:
      operationId: update_promo_code
      parameters:
      - description: Unique identifier of the PromotionCode.
        example: promo_dev_abc123
        explode: false
        in: path
        name: promo_code_id
        required: true
        schema:
          description: Unique identifier of the PromotionCode.
          title: Promo Code Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePromoCodeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionCodeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Promo Code
      tags:
      - promotion-codes
  /refunds/:
    post:
      operationId: create_refund
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Refund
      tags:
      - refunds
  /refunds/list:
    post:
      operationId: list_refunds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_RefundExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Refunds
      tags:
      - refunds
  /signup-answers/:
    get:
      operationId: signup_questionnaire_status
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupQuestionnaireStatus'
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Signup Questionnaire Status
      tags:
      - signup_answers
  /subscription-items/:
    post:
      description: Adds a new item to an existing subscription. No existing items
        will be changed or replaced.
      operationId: create_subscription_item
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionItemRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionItemExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Subscription Item
      tags:
      - subscription_items
  /subscription-items/list:
    post:
      operationId: list_subscription_items
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionItemQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_SubscriptionItemExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Subscription Items
      tags:
      - subscription_items
  /subscription-items/{subscription_item_id}:
    delete:
      description: |-
        Deletes an item from the subscription. Removing a subscription item
         from a subscription will not cancel the subscription.
        Default behaviour is to remove the subscription item at time of
         renewing the subscription at next billing cycle. You can override
         the behaviour by setting cancel_at_end as False.
        After successful call to this method with drop_at_end as True,
         if you want to clear the flag, use update call with drop_at_end as False.
      operationId: delete_subscription_item
      parameters:
      - description: Unique identifier of the subscription_item.
        example: subi_dev_abc123
        explode: false
        in: path
        name: subscription_item_id
        required: true
        schema:
          description: Unique identifier of the subscription_item.
          title: Subscription Item Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSubscriptionItemRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionItemResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Subscription Item
      tags:
      - subscription_items
    get:
      operationId: get_subscription_item
      parameters:
      - description: Unique identifier of the subscription_item.
        example: subi_dev_abc123
        explode: false
        in: path
        name: subscription_item_id
        required: true
        schema:
          description: Unique identifier of the subscription_item.
          title: Subscription Item Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionItemExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Subscription Item
      tags:
      - subscription_items
    put:
      operationId: update_subscription_item
      parameters:
      - description: Unique identifier of the subscription_item.
        example: subi_dev_abc123
        explode: false
        in: path
        name: subscription_item_id
        required: true
        schema:
          description: Unique identifier of the subscription_item.
          title: Subscription Item Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionItemRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionItemExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Subscription Item
      tags:
      - subscription_items
  /subscriptions/:
    post:
      description: |-
        This is the PUBLIC create subs endpoint.
        This is intended to be used for manual creation of subscriptions, i.e. outside of the context of a checkout session.
        For subs creation that is part of a checkout flow, please use the internal create subs endpoint.
      operationId: create_subscriptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Subscriptions
      tags:
      - subscriptions
  /subscriptions/list:
    post:
      operationId: list_subscriptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_SubscriptionExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Subscriptions
      tags:
      - subscriptions
  /subscriptions/{subscription_id}:
    delete:
      operationId: delete_subscription
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Subscription
      tags:
      - subscriptions
    get:
      operationId: get_subscription
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Subscription
      tags:
      - subscriptions
    put:
      operationId: update_subscription
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Subscription
      tags:
      - subscriptions
  /subscriptions/{subscription_id}/cancel-subscription-trial:
    post:
      description: |-
        Cancels the trial of a subscription immediately and active the subscription effective
        from now. Invoice will be generated for the updated subscription interval.
      operationId: cancel_subscription_trial
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Cancel Subscription Trial
      tags:
      - subscriptions
  /subscriptions/{subscription_id}/discount:
    delete:
      operationId: delete_subscription_discount
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Subscription Discount
      tags:
      - subscriptions
  /subscriptions/{subscription_id}/pause:
    put:
      operationId: pause_subscription
      parameters:
[...]
