openapi: 3.1.0
info:
  description: super charge your subscription management.
  title: OpenPay API
  version: 1.0.0
servers:
- description: OpenPay API server
  url: https://connto.getopenpay.com
- description: OpenPay staging API server
  url: https://connto.openpaystaging.com
paths:
  /charges/list:
    post:
      operationId: list_charges
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ChargeExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Charges
      tags:
      - charges
  /charges/search:
    post:
      operationId: search_charges
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchChargeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ChargeExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Search Charges
      tags:
      - charges
  /charges/{charge_id}:
    get:
      operationId: get_charge
      parameters:
      - explode: false
        in: path
        name: charge_id
        required: true
        schema:
          title: Charge Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Charge
      tags:
      - charges
    put:
      operationId: update_charge
      parameters:
      - explode: false
        in: path
        name: charge_id
        required: true
        schema:
          title: Charge Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChargeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Charge
      tags:
      - charges
  /credit-notes/:
    post:
      description: |-
        Issue a credit note to adjust the amount of a finalized invoice.
        You may issue multiple credit notes for an invoice.
        The sum of all credit notes issued for an invoice can’t exceed the
         total amount of the invoice.
        For a paid invoice, the sum of the refund and credit must equal the invoice total.
        Each credit note will increment the invoice’s pre_payment_credit_notes_amount_atom
         or post_payment_credit_notes_amount_atom depending on its status at the time
         of credit note creation.
      operationId: create_credit_note
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreditNoteRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Credit Note
      tags:
      - credit-notes
  /credit-notes/list:
    post:
      operationId: list_credit_notes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CreditNoteExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Credit Notes
      tags:
      - credit-notes
  /credit-notes/{credit_note_id}:
    get:
      operationId: get_credit_note
      parameters:
      - description: Unique Identifier of the credit_note.
        example: credit_note_dev_abc123
        explode: false
        in: path
        name: credit_note_id
        required: true
        schema:
          description: Unique Identifier of the credit_note.
          title: Credit Note Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Credit Note
      tags:
      - credit-notes
  /coupons/:
    post:
      operationId: create_coupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCouponRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Coupon
      tags:
      - coupons
  /coupons/list:
    post:
      operationId: list_coupons
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CouponExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Coupons
      tags:
      - coupons
  /coupons/{coupon_id}:
    delete:
      operationId: delete_coupon
      parameters:
      - description: Unique identifier of the Coupon.
        example: coupon_dev_abc123
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          description: Unique identifier of the Coupon.
          title: Coupon Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Coupon
      tags:
      - coupons
    get:
      operationId: get_coupon
      parameters:
      - description: Unique identifier of the Coupon.
        example: coupon_dev_abc123
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          description: Unique identifier of the Coupon.
          title: Coupon Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Coupon
      tags:
      - coupons
    put:
      operationId: update_coupon
      parameters:
      - description: Unique identifier of the Coupon.
        example: coupon_dev_abc123
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          description: Unique identifier of the Coupon.
          title: Coupon Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCouponRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Coupon
      tags:
      - coupons
  /customers/list:
    post:
      operationId: list_customers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CustomerExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Customers
      tags:
      - customers
  /customers/{customer_id}:
    get:
      operationId: get_customer
      parameters:
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          title: Customer Id
          type: string
        style: simple
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Customer
      tags:
      - customers
  /customers/:
    post:
      operationId: create_customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Customer
      tags:
      - customers
  /customers/{customer_external_id}:
    put:
      operationId: update_customer
      parameters:
      - explode: false
        in: path
        name: customer_external_id
        required: true
        schema:
          title: Customer External Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Customer
      tags:
      - customers
  /customers/{customer_id}/discount:
    delete:
      operationId: delete_customer_discount
      parameters:
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          title: Customer Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Customer Discount
      tags:
      - customers
  /customers/{customer_id}/payment-methods:
    post:
      description: |-
        Retrieves payment methods for a given customer.
        Can optionally filter by payment provider type.
      operationId: list_customer_payment_methods
      parameters:
      - description: Unique Identifier of the customer.
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          description: Unique Identifier of the customer.
          title: Customer Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPaymentMethodQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_Union_TokenizedCreditCardExternal__PaymentMethodExternal__'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Customer Payment Methods
      tags:
      - customers
  /customers{customer_id}/list_valid_subscriptions:
    post:
      description: |-
        Lists valid subscriptions for given product_id or price_id. All 'active' or 'trialing'
        subscriptions are considered to be valid.
      operationId: list_valid_subscriptions
      parameters:
      - description: Unique Identifier of the customer.
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          description: Unique Identifier of the customer.
          title: Customer Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListActiveSubParams'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveSubResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Valid Subscriptions
      tags:
      - customers
  /customers/search:
    post:
      operationId: search_customers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCustomerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CustomerExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Search Customers
      tags:
      - customers
  /customers/{customer_id}/balance-transactions:
    get:
      operationId: get_customer_balance_transactions
      parameters:
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          title: Customer Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomerBalanceTransactionExternal'
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Customer Balance Transactions
      tags:
      - customers
    post:
      description: |-
        Each customer has a Balance value, which denotes a debit or credit that's
        automatically applied to their next invoice upon finalization.
        Creates an immutable transaction that updates the customer's credit balance.
      operationId: create_customer_balance_transaction
      parameters:
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          title: Customer Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerBalanceTransactionRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerBalanceTransactionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Customer Balance Transaction
      tags:
      - customers
  /customers/{customer_id}/balance-transactions/{transaction_id}:
    get:
      operationId: get_customer_balance_transaction
      parameters:
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          title: Customer Id
          type: string
        style: simple
      - explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          title: Transaction Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerBalanceTransactionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Customer Balance Transaction
      tags:
      - customers
  /events/list:
    post:
      operationId: list_events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventsQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_EventExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Events
      tags:
      - events
  /events/{event_id}:
    get:
      operationId: get_event
      parameters:
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          title: Event Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Event
      tags:
      - events
  /events/search:
    post:
      operationId: search_events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSearchParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_EventExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Search Events
      tags:
      - events
  /invoices/list:
    post:
      operationId: list_invoices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_InvoiceExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Invoices
      tags:
      - invoices
  /invoices/{invoice_external_id}:
    get:
      operationId: get_invoice
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Invoice
      tags:
      - invoices
  /invoices/public/{public_permanent_token}:
    get:
      operationId: get_invoice_public
      parameters:
      - description: Public token for the invoice.
        example: 00000000-aaaa-bbbb-cccc-dddddddddddd
        explode: false
        in: path
        name: public_permanent_token
        required: true
        schema:
          description: Public token for the invoice.
          title: Public Permanent Token
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePublic'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Invoice Public
      tags:
      - invoices
  /invoices/:
    post:
      description: |-
        This endpoint creates a draft invoice for a given subscription.
        The invoice remains a draft until you finalize the invoice.
        The created invoice will only include floating invoice items for a subscription.
        The subscription’s billing cycle and regular subscription events won’t be affected.
      operationId: create_invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Invoice
      tags:
      - invoices
  /invoices/{invoice_external_id}/finalize:
    post:
      operationId: finalize_invoice
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Finalize Invoice
      tags:
      - invoices
  /invoices/{invoice_external_id}/comment:
    post:
      operationId: add_comment
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCommentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Add Comment
      tags:
      - invoices
  /invoices/{invoice_external_id}/pay:
    post:
      operationId: pay_invoice
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayInvoiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Pay Invoice
      tags:
      - invoices
  /invoices/{invoice_external_id}/mark_uncollectible:
    post:
      operationId: mark_invoice_as_uncollectible
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkUncollectibleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Mark Invoice As Uncollectible
      tags:
      - invoices
  /invoices/{invoice_external_id}/void:
    post:
      operationId: mark_invoice_as_void
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_external_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice External Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkVoidRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Mark Invoice As Void
      tags:
      - invoices
  /invoices/{invoice_id}:
    put:
      operationId: update_invoice
      parameters:
      - description: Unique identifier of the invoice.
        example: invoice_dev_abc123
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          description: Unique identifier of the invoice.
          title: Invoice Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Invoice
      tags:
      - invoices
  /invoices/search:
    post:
      operationId: search_invoices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchInvoiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_InvoiceExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Search Invoices
      tags:
      - invoices
  /invoice-items/list:
    post:
      operationId: list_invoice_items
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceItemsQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_InvoiceItemExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Invoice Items
      tags:
      - invoice-items
  /invoice-items/{invoice_item_id}:
    delete:
      operationId: delete_invoice_item_by_id
      parameters:
      - description: Unique identifier of the invoice_item.
        example: invoiceitem_dev_abc123
        explode: false
        in: path
        name: invoice_item_id
        required: true
        schema:
          description: Unique identifier of the invoice_item.
          title: Invoice Item Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteInvoiceItemResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Invoice Item By Id
      tags:
      - invoice-items
    get:
      operationId: get_invoice_item
      parameters:
      - description: Unique identifier of the invoice_item.
        example: invoiceitem_dev_abc123
        explode: false
        in: path
        name: invoice_item_id
        required: true
        schema:
          description: Unique identifier of the invoice_item.
          title: Invoice Item Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceItemExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Invoice Item
      tags:
      - invoice-items
  /payment-intents/list:
    post:
      operationId: list_payment_intents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentIntentQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PaymentIntentExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Payment Intents
      tags:
      - payment-intents
  /payment-intents/{payment_intent_id}:
    get:
      operationId: get_payment_intent
      parameters:
      - explode: false
        in: path
        name: payment_intent_id
        required: true
        schema:
          title: Payment Intent Id
          type: string
        style: simple
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Payment Intent
      tags:
      - payment-intents
    put:
      operationId: update_payment_intent
      parameters:
      - explode: false
        in: path
        name: payment_intent_id
        required: true
        schema:
          title: Payment Intent Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentIntent'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Payment Intent
      tags:
      - payment-intents
  /payment-intents/search:
    post:
      operationId: search_payment_intents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchPaymentIntentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PaymentIntentExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Search Payment Intents
      tags:
      - payment-intents
  /payment-methods/{payment_method_id}:
    get:
      operationId: get_payment_method
      parameters:
      - description: Unique Identifier of the payment_method.
        example: pm_dev_abc123
        explode: false
        in: path
        name: payment_method_id
        required: true
        schema:
          description: Unique Identifier of the payment_method.
          title: Payment Method Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Get_Payment_Method_Payment_Methods__Payment_Method_Id__Get'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Payment Method
      tags:
      - payment-methods
  /payment-methods/{payment_method_id}/attach:
    post:
      description: |-
        Attaches the payment_method to a customer.
        A Payment_method must be attached to a customer before it can be used for payment.
        Once attached to a customer, it can not be reattached to a different customer.
      operationId: attach_payment_method
      parameters:
      - description: Unique Identifier of the payment_method.
        example: pm_dev_abc123
        explode: false
        in: path
        name: payment_method_id
        required: true
        schema:
          description: Unique Identifier of the payment_method.
          title: Payment Method Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachPaymentMethodRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Attach Payment Method
      tags:
      - payment-methods
  /payment-methods/{payment_method_id}/detach:
    post:
      description: |-
        Detaches a payment method from a customer.

        A detached payment method can no longer be used for payment,
        nor can it be reattached to the same or a different customer.

        A payment method cannot be detached if it is the default payment
        method for at least one customer, invoice, or active subscription.
      operationId: detach_payment_method
      parameters:
      - description: Unique Identifier of the payment_method.
        example: pm_dev_abc123
        explode: false
        in: path
        name: payment_method_id
        required: true
        schema:
          description: Unique Identifier of the payment_method.
          title: Payment Method Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Detach Payment Method
      tags:
      - payment-methods
  /payment-methods/authorize:
    post:
      operationId: authorize_payment_method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePaymentMethodRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Authorize Payment Method
      tags:
      - payment-methods
  /products/list:
    post:
      operationId: list_products
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ProductExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Products
      tags:
      - products
  /products/{product_id}:
    delete:
      operationId: delete_product
      parameters:
      - description: Unique identifier of the product.
        example: product_dev_abc123
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          description: Unique identifier of the product.
          title: Product Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProductResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Product
      tags:
      - products
    get:
      operationId: get_product
      parameters:
      - description: Unique identifier of the product.
        example: product_dev_abc123
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          description: Unique identifier of the product.
          title: Product Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Product
      tags:
      - products
    put:
      operationId: update_product
      parameters:
      - description: Unique identifier of the product.
        example: product_dev_abc123
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          description: Unique identifier of the product.
          title: Product Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Product
      tags:
      - products
  /products/:
    post:
      operationId: create_product
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Product
      tags:
      - products
  /products/search:
    post:
      operationId: search_products
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchProductRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ProductExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Search Products
      tags:
      - products
  /prices/:
    post:
      operationId: create_price_for_product
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePriceRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Price For Product
      tags:
      - prices
  /prices/list:
    post:
      operationId: list_prices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PriceExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Prices
      tags:
      - prices
  /prices/{price_id}:
    delete:
      operationId: delete_price_for_product
      parameters:
      - description: Unique identifier of the price.
        example: price_dev_abc123
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          description: Unique identifier of the price.
          title: Price Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePriceResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Price For Product
      tags:
      - prices
    get:
      operationId: get_price_for_product
      parameters:
      - description: Unique identifier of the price.
        example: price_dev_abc123
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          description: Unique identifier of the price.
          title: Price Id
          type: string
        style: simple
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Price For Product
      tags:
      - prices
    put:
      operationId: update_price_for_product
      parameters:
      - description: Unique identifier of the price.
        example: price_dev_abc123
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          description: Unique identifier of the price.
          title: Price Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePriceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Price For Product
      tags:
      - prices
  /prices/search:
    post:
      operationId: search_prices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchPriceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PriceExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Search Prices
      tags:
      - prices
  /promotion-codes/:
    post:
      operationId: create_promo_code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromoCodeRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionCodeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Promo Code
      tags:
      - promotion-codes
  /promotion-codes/list:
    post:
      operationId: list_promo_codes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCodeQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PromotionCodeExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Promo Codes
      tags:
      - promotion-codes
  /promotion-codes/{promo_code_id}:
    get:
      operationId: get_promo_code
      parameters:
      - description: Unique identifier of the PromotionCode.
        example: promo_dev_abc123
        explode: false
        in: path
        name: promo_code_id
        required: true
        schema:
          description: Unique identifier of the PromotionCode.
          title: Promo Code Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionCodeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Promo Code
      tags:
      - promotion-codes
    put:
      operationId: update_promo_code
      parameters:
      - description: Unique identifier of the PromotionCode.
        example: promo_dev_abc123
        explode: false
        in: path
        name: promo_code_id
        required: true
        schema:
          description: Unique identifier of the PromotionCode.
          title: Promo Code Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePromoCodeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionCodeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Promo Code
      tags:
      - promotion-codes
  /promotion-codes/code/{promo_code}:
    get:
      operationId: get_promo_code_by_code
      parameters:
      - description: Unique PromotionCode code.
        explode: false
        in: path
        name: promo_code
        required: true
        schema:
          description: Unique PromotionCode code.
          title: Promo Code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionCodeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Promo Code By Code
      tags:
      - promotion-codes
  /refunds/:
    post:
      operationId: create_refund
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Refund
      tags:
      - refunds
  /refunds/list:
    post:
      operationId: list_refunds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_RefundExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Refunds
      tags:
      - refunds
  /subscriptions/list:
    post:
      operationId: list_subscriptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_SubscriptionExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Subscriptions
      tags:
      - subscriptions
  /subscriptions/{subscription_id}:
    delete:
      operationId: delete_subscription
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Subscription
      tags:
      - subscriptions
    get:
      operationId: get_subscription
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Subscription
      tags:
      - subscriptions
    put:
      operationId: update_subscription
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Subscription
      tags:
      - subscriptions
  /subscriptions/{subscription_id}/cancel-subscription-trial:
    post:
      description: |-
        Cancels the trial of a subscription immediately and active the subscription effective
        from now. Invoice will be generated for the updated subscription interval.
      operationId: cancel_subscription_trial
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Cancel Subscription Trial
      tags:
      - subscriptions
  /subscriptions/:
    post:
      operationId: create_subscriptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Subscriptions
      tags:
      - subscriptions
  /subscriptions/{subscription_id}/pause:
    put:
      operationId: pause_subscription
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionPauseRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Pause Subscription
      tags:
      - subscriptions
  /subscriptions/{subscription_id}/resume:
    put:
      operationId: resume_subscription
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionResumeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Resume Subscription
      tags:
      - subscriptions
  /subscriptions/{subscription_id}/discount:
    delete:
      operationId: delete_subscription_discount
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Subscription Discount
      tags:
      - subscriptions
  /subscriptions/{subscription_id}/refresh-status:
    post:
      operationId: refresh_subscription_status
      parameters:
      - description: Unique identifier of the subscription.
        example: subscription_dev_abc123
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          description: Unique identifier of the subscription.
          title: Subscription Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Refresh Subscription Status
      tags:
      - subscriptions
  /subscriptions/search:
    post:
      operationId: search_subscriptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchSubscriptionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_SubscriptionExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Search Subscriptions
      tags:
      - subscriptions
  /subscription-items/list:
    post:
      operationId: list_subscription_items
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionItemQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_SubscriptionItemExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Subscription Items
      tags:
      - subscription_items
  /subscription-items/{subscription_item_id}:
    delete:
      description: |-
        Deletes an item from the subscription. Removing a subscription item
         from a subscription will not cancel the subscription.
        Default behaviour is to remove the subscription item at time of
         renewing the subscription at next billing cycle. You can override
         the behaviour by setting cancel_at_end as False.
        After successful call to this method with drop_at_end as True,
         if you want to clear the flag, use update call with drop_at_end as False.
      operationId: delete_subscription_item
      parameters:
      - description: Unique identifier of the subscription_item.
        example: subi_dev_abc123
        explode: false
        in: path
        name: subscription_item_id
        required: true
        schema:
          description: Unique identifier of the subscription_item.
          title: Subscription Item Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSubscriptionItemRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionItemResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Subscription Item
      tags:
      - subscription_items
    get:
      operationId: get_subscription_item
      parameters:
      - description: Unique identifier of the subscription_item.
        example: subi_dev_abc123
        explode: false
        in: path
        name: subscription_item_id
        required: true
        schema:
          description: Unique identifier of the subscription_item.
          title: Subscription Item Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionItemExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Subscription Item
      tags:
      - subscription_items
    put:
      operationId: update_subscription_item
      parameters:
      - description: Unique identifier of the subscription_item.
        example: subi_dev_abc123
        explode: false
        in: path
        name: subscription_item_id
        required: true
        schema:
          description: Unique identifier of the subscription_item.
          title: Subscription Item Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionItemRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionItemExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Subscription Item
      tags:
      - subscription_items
  /subscription-items/:
    post:
      description: Adds a new item to an existing subscription. No existing items
        will be changed or replaced.
      operationId: create_subscription_item
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionItemRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionItemExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Subscription Item
      tags:
      - subscription_items
  /checkout/sessions:
    post:
      operationId: create_checkout_session
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutSessionRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Checkout Session
      tags:
      - checkout
  /checkout/sessions/{session_id}:
    get:
      operationId: get_checkout_session
      parameters:
      - description: Unique identifier of the checkout session.
        example: cs_dev_abc123
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          description: Unique identifier of the checkout session.
          title: Session Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Checkout Session
      tags:
      - checkout
  /checkout/list:
    post:
      operationId: list_checkout_sessions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CheckoutSessionExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Checkout Sessions
      tags:
      - checkout
  /product-family/:
    post:
      operationId: create_product_family
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductFamilyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Product Family
      tags:
      - product-family
  /product-family/{id}:
    delete:
      operationId: delete_product_family
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Product Family
      tags:
      - product-family
    get:
      operationId: get_product_family
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Product Family
      tags:
      - product-family
    put:
      operationId: update_product_family
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductFamilyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Product Family
      tags:
      - product-family
  /product-family/list:
    post:
      operationId: list_product_families
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductFamilyQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ProductFamilyExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Product Families
      tags:
      - product-family
  /billing_portal/sessions:
    post:
      operationId: create_portal_session
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePortalSessionRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalSessionExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Portal Session
      tags:
      - billing_portal
  /payment-link/:
    post:
      operationId: create_payment_link
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Payment Link
      tags:
      - payment_links
  /payment-link/{plink_id}:
    get:
      operationId: get_payment_link
      parameters:
      - description: Unique identifier of the payment link.
        example: plink_dev_abc123
        explode: false
        in: path
        name: plink_id
        required: true
        schema:
          description: Unique identifier of the payment link.
          title: Plink Id
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Payment Link
      tags:
      - payment_links
  /payment-link/list:
    post:
      operationId: list_payment_links
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLinkQueryParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PaymentLinkExternal_'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Payment Links
      tags:
      - payment_links
  /payment-link/public/{secure_token}:
    get:
      operationId: open_payment_link_page_public
      parameters:
      - description: Secure token of the payment link.
        example: 00000000-aaaa-bbbb-cccc-dddddddddddd
        explode: false
        in: path
        name: secure_token
        required: true
        schema:
          description: Secure token of the payment link.
          title: Secure Token
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Open Payment Link Page Public
      tags:
      - payment_links
  /integrations/tax/:
    post:
      operationId: create_tax_integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaxIntegrationRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxIntegrationExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Tax Integration
      tags:
      - tax_integrations
  /dispute/{dispute_id}:
    get:
      operationId: get_dispute
      parameters:
      - explode: false
        in: path
        name: dispute_id
        required: true
        schema:
          title: Dispute Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Dispute
      tags:
      - disputes
  /dispute/:
    post:
      operationId: create_dispute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDisputeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeExternal'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Dispute
      tags:
      - disputes
components:
  schemas:
    ActiveSubResponse:
      example:
        subscriptions:
        - subscription_items:
          - drop_at_end: false
            add_at_period_end: true
            quantity: 2
            price_id: price_dev_abc123
            created_at: 2000-01-23T04:56:07.000+00:00
            deleted_at: 2000-01-23T04:56:07.000+00:00
            subscription_id: subscription_id
            is_deleted: false
            updated_at: 2000-01-23T04:56:07.000+00:00
            price: ""
            product_id: product_dev_xyz123
            pending_attachment_to_subscription_id: pending_attachment_to_subscription_id
            currency: usd
            id: subi_dev_abc123
            object: ""
          - drop_at_end: false
            add_at_period_end: true
            quantity: 2
            price_id: price_dev_abc123
            created_at: 2000-01-23T04:56:07.000+00:00
            deleted_at: 2000-01-23T04:56:07.000+00:00
            subscription_id: subscription_id
            is_deleted: false
            updated_at: 2000-01-23T04:56:07.000+00:00
            price: ""
            product_id: product_dev_xyz123
            pending_attachment_to_subscription_id: pending_attachment_to_subscription_id
            currency: usd
            id: subi_dev_abc123
            object: ""
          cancelled_at: 2000-01-23T04:56:07.000+00:00
          contract_auto_renew: true
          metadata: "{}"
          created_at: 2000-01-23T04:56:07.000+00:00
          description: description
          billing_interval: null
          discount:
            end_date: 2000-01-23T04:56:07.000+00:00
            coupon:
              redeem_by: 2000-01-23T04:56:07.000+00:00
              promotion_codes:
              - promotion_codes
              - promotion_codes
              metadata: "{}"
              is_active: true
              max_redemptions: 5
              times_redeemed: 5
              created_at: 2000-01-23T04:56:07.000+00:00
              product_families:
              - product_families
              - product_families
              products:
              - products
              - products
              duration: null
              duration_in_months: 1
              is_deleted: false
              updated_at: 2000-01-23T04:56:07.000+00:00
              amount_atom_off: 0
              name: name
              percent_off: 6
              currency: null
              id: id
              object: ""
            promotion_code:
              metadata: "{}"
              code: code
              is_active: true
              coupon: ""
              max_redemptions: 1
              times_redeemed: 5
              created_at: 2000-01-23T04:56:07.000+00:00
              restrictions:
                first_time_transaction: true
                minimum_amount_currency: null
                minimum_amount_atom: 2
              is_deleted: false
              expires_at: 2000-01-23T04:56:07.000+00:00
              updated_at: 2000-01-23T04:56:07.000+00:00
              coupon_id: coupon_id
              customer_ids:
              - customer_ids
              - customer_ids
              max_redemptions_per_customer: 5
              id: id
              object: ""
            invoice_item_id: invoice_item_id
            created_at: 2000-01-23T04:56:07.000+00:00
            subscription_id: subscription_id
            is_deleted: false
            updated_at: 2000-01-23T04:56:07.000+00:00
            coupon_id: coupon_id
            promotion_code_id: promotion_code_id
            invoice_id: invoice_id
            id: id
            customer_id: customer_id
            object: ""
            start_date: 2000-01-23T04:56:07.000+00:00
          cancellation_details:
            feedback: null
            reason: reason
            comment: comment
          contract_start: 2000-01-23T04:56:07.000+00:00
          is_deleted: false
          paused_at: 2000-01-23T04:56:07.000+00:00
          updated_at: 2000-01-23T04:56:07.000+00:00
          currency: null
          id: subscription_dev_abc123
          current_period_start: 2023-10-02T08:49:54.678156Z
          cancel_at_end: true
          default_payment_method_id: default_payment_method_id
          billing_interval_count: 6
          total_billing_cycles: 7
          pause_for_cycles: 0
          remaining_billing_cycles: 9
          custom_fields: "{}"
          trial_end: 2000-01-23T04:56:07.000+00:00
          current_period_end: 2023-11-02T08:49:54.678156Z
          pause_at_end: true
          account_id: account_dev_abc123
          initial_start: 2023-10-02T08:49:54.678156Z
          resumes_at: 2000-01-23T04:56:07.000+00:00
          name: name
          trial_start: 2000-01-23T04:56:07.000+00:00
          collection_method: charge_automatically
          customer_id: cus_dev_abc123
          object: ""
          status: canceled
          net_d: 3
        - subscription_items:
          - drop_at_end: false
            add_at_period_end: true
            quantity: 2
            price_id: price_dev_abc123
            created_at: 2000-01-23T04:56:07.000+00:00
            deleted_at: 2000-01-23T04:56:07.000+00:00
            subscription_id: subscription_id
            is_deleted: false
            updated_at: 2000-01-23T04:56:07.000+00:00
            price: ""
            product_id: product_dev_xyz123
            pending_attachment_to_subscription_id: pending_attachment_to_subscription_id
            currency: usd
            id: subi_dev_abc123
            object: ""
          - drop_at_end: false
            add_at_period_end: true
            quantity: 2
            price_id: price_dev_abc123
            created_at: 2000-01-23T04:56:07.000+00:00
            deleted_at: 2000-01-23T04:56:07.000+00:00
            subscription_id: subscription_id
            is_deleted: false
            updated_at: 2000-01-23T04:56:07.000+00:00
            price: ""
            product_id: product_dev_xyz123
            pending_attachment_to_subscription_id: pending_attachment_to_subscription_id
            currency: usd
            id: subi_dev_abc123
            object: ""
          cancelled_at: 2000-01-23T04:56:07.000+00:00
          contract_auto_renew: true
          metadata: "{}"
          created_at: 2000-01-23T04:56:07.000+00:00
          description: description
          billing_interval: null
          discount:
            end_date: 2000-01-23T04:56:07.000+00:00
            coupon:
              redeem_by: 2000-01-23T04:56:07.000+00:00
              promotion_codes:
              - promotion_codes
              - promotion_codes
              metadata: "{}"
              is_active: true
              max_redemptions: 5
              times_redeemed: 5
              created_at: 2000-01-23T04:56:07.000+00:00
              product_families:
              - product_families
              - product_families
              products:
              - products
              - products
              duration: null
              duration_in_months: 1
              is_deleted: false
              updated_at: 2000-01-23T04:56:07.000+00:00
              amount_atom_off: 0
              name: name
              percent_off: 6
              currency: null
              id: id
              object: ""
            promotion_code:
              metadata: "{}"
              code: code
              is_active: true
              coupon: ""
              max_redemptions: 1
              times_redeemed: 5
              created_at: 2000-01-23T04:56:07.000+00:00
              restrictions:
                first_time_transaction: true
                minimum_amount_currency: null
                minimum_amount_atom: 2
              is_deleted: false
              expires_at: 2000-01-23T04:56:07.000+00:00
              updated_at: 2000-01-23T04:56:07.000+00:00
              coupon_id: coupon_id
              customer_ids:
              - customer_ids
              - customer_ids
              max_redemptions_per_customer: 5
              id: id
              object: ""
            invoice_item_id: invoice_item_id
            created_at: 2000-01-23T04:56:07.000+00:00
            subscription_id: subscription_id
            is_deleted: false
            updated_at: 2000-01-23T04:56:07.000+00:00
            coupon_id: coupon_id
            promotion_code_id: promotion_code_id
            invoice_id: invoice_id
            id: id
            customer_id: customer_id
            object: ""
            start_date: 2000-01-23T04:56:07.000+00:00
          cancellation_details:
            feedback: null
            reason: reason
            comment: comment
          contract_start: 2000-01-23T04:56:07.000+00:00
          is_deleted: false
          paused_at: 2000-01-23T04:56:07.000+00:00
          updated_at: 2000-01-23T04:56:07.000+00:00
          currency: null
          id: subscription_dev_abc123
          current_period_start: 2023-10-02T08:49:54.678156Z
          cancel_at_end: true
          default_payment_method_id: default_payment_method_id
          billing_interval_count: 6
          total_billing_cycles: 7
          pause_for_cycles: 0
          remaining_billing_cycles: 9
          custom_fields: "{}"
          trial_end: 2000-01-23T04:56:07.000+00:00
          current_period_end: 2023-11-02T08:49:54.678156Z
          pause_at_end: true
[...]
